{% extends 'main.html' %}

{% block content %}

<h4>System Dashboard</h4>

<div class="card">
    <div class="card-header">
      Project Description
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Gandhi University Computer Science Dept - Project1 Production v 2.3.6</p>
        <footer class="blockquote-footer">Cloud init v 1.0</footer>
      </blockquote>
    </div>
</div>

<div class="card">
    <div class="card-header">
      Project Description
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Gandhi University Computer Science Dept - Project2 Production v 2.3.6</p>
        <footer class="blockquote-footer">Cloud init v 1.0</footer>
      </blockquote>
    </div>
  </div>

{% endblock %}
